<launch>
  <!-- main algorithm params -->
  <include file="$(find pass_point_plan)/launch/param.xml">

  <!-- topic of your odometry such as VIO or LIO -->
  <arg name="odom_topic" value="/dji_sdk_1/dji_sdk/simulation/odom" />

    <!-- intrinsic params of the depth camera -->
    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>

    <!-- maximum velocity and acceleration the drone will reach -->
    <arg name="max_vel" value="1.5" />
    <arg name="max_acc" value="1.0" />

    <arg name="point_num" value="8" />

    <arg name="point0_x" value="5.0" />
    <arg name="point0_y" value="5.0" />
    <arg name="point0_z" value="5.0" />

    <arg name="point1_x" value="20.0" />
    <arg name="point1_y" value="5.0" />
    <arg name="point1_z" value="5.0" />

    <arg name="point2_x" value="20.0" />
    <arg name="point2_y" value="10.0" />
    <arg name="point2_z" value="5.0" />

    <arg name="point3_x" value="5.0" />
    <arg name="point3_y" value="10.0" />
    <arg name="point3_z" value="5.0" />

    <arg name="point4_x" value="5.0" />
    <arg name="point4_y" value="15.0" />
    <arg name="point4_z" value="5.0" />

    <arg name="point5_x" value="20.0" />
    <arg name="point5_y" value="15.0" />
    <arg name="point5_z" value="5.0" />

    <arg name="point6_x" value="20.0" />
    <arg name="point6_y" value="20.0" />
    <arg name="point6_z" value="5.0" />

    <arg name="point7_x" value="5.0" />
    <arg name="point7_y" value="20.0" />
    <arg name="point7_z" value="5.0" />
    
  </include>
</launch>
